:host {
    ion-menu-button {
        color: var(--ion-color-primary);
    }
    ion-header.md{
        padding-top: 30px;
    }
    input{
        width: 100%;
        display: block;
        padding: 10px 5px;
    }
}