<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ folder }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div id="container">
        <div class="form-group ion-padding">
            <input type="text" class="form-control" placeholder="Search by title..." [(ngModel)]="searchedKeyword.name" />
        </div>
    </div>
    <app-accordion *ngFor="let technology of technologies | filterBy:searchedKeyword; index as i" name="{{ technology?.name }}" description="{{ technology?.description }}" number="{{i+1}}"></app-accordion>
</ion-content>